.container {
  width: 1025px;
  margin: 30px auto auto auto;

  display: flex;
  justify-content: space-between;
}

.container img {
  width: 400px;
}

.container > div {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container button {
  width: 200px;
  height: 60px;
  background: #27ae60;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.palavra {
  display: flex;
  gap: 8px;
}

.palavra > div {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 50px;
}

.ganhou {
  color: #27ae60;
}

.perdeu {
  color: #ff0000;
}
