.container {
  margin: 60px auto 60px auto;
  width: 700px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  color: #798a9f;
}
